.HomeIndex {
    .banner{
        width: 80%;
        margin: 0 auto;
    }
    
    .main{
        width: 100%;
        .list{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 1200px;
      
        }
    }
    
    .waiting{
        display: none;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #ffffff;
    }
    
}