.subNav{
    .shoplist{
        width: 100%;
        .shop{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin: 0 auto;
            width: 1220px;
            height: 50px;
            a{
                padding: 0 40px;
                height: 30px;
                line-height: 30px;
                color: #666666;
                border-radius: 20px;
                transition: all .3s;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    background: purple;
                    color: #dedede;
                }
            }
        }
    }
   
}